/* Navigation bar. */
#nav_bar_row { 
    background-color: #595959;
    color: white;
}

.nav_bar_texts {
    margin-top: 18px;
    text-align: right
}

img#nav_bar_logo {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    max-height: 40px;
    max-width: 100%;
}

.detail_text {
    color: #606060;
    font-family: Tahoma, Geneva, sans-serif;
}

/* Logo and tagline. */
#logo_row { 
    text-align: center;
    margin-top: 50px;
}

#logo_row img { 
    max-height:120px; 
    max-width:100%;
}

#tag_line_row { 
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

#tag_line_style { 
    color: #808080;
    font-family: "Courier New", Courier, monospace;
    font-size: 1.1em;
}

/* Products. */
.product_rows {
    margin-top: 30px;
    margin-bottom: 60px;
}

img#lamophone_logo {
    max-height: 120px;
    max-width: 60%;
}

img#nature_logo {
    max-height: 120px;
    max-width: 80%;
}

.product_logos {
    text-align: center;
}

/* Team. */
.team_rows {
    margin-top: 30px;
    margin-bottom: 30px;
}

.profile_title_text {
    font-size: 0.9em;
}

img#profile_image {
    max-height: 120px;
    max-width: 100%;
    border-radius: 50%;
}


/* Footer. */
.footer_row {
    margin-top: 50px;
}

