/* Navigation bar - the top container with company logo. */
#nav_bar_row {
    background-color: #ffffff;
    color: white;
    text-align: right;
}

.nav_bar_texts {
    margin-top: 18px;
    text-align: right
}

img#nav_bar_logo {
    margin-top: 25px;
    margin-bottom: 5px;
    margin-left: 20px;
    margin-right: 20px;
    max-height: 50px;
    max-width: 100%;
}

.detail_text {
    color: #303030;
    font-family: Tahoma, Geneva, sans-serif;
}

.product_category {
  padding-top: 10px;
  color: #808080;
}

/* Logo row - This is currently not used. */
#logo_row {
    text-align: center;
    margin-top: 50px;
}

#logo_row img {
    max-height:120px;
    max-width:100%;
}

/* Tagline row. Show 2 lines of text. */
#tag_line_row {
    color: #606060;
    font-family: "Courier New", Courier, monospace;
    font-size: 1.1em;
    font-weight: bold;
    margin-left: 40px;
    margin-top: 0px;
    margin-bottom: 40px;
    text-align: left;
}

/* Products. Multiple rows of apps or services. */
.product_rows {
    margin-top: 30px;
    margin-bottom: 60px;
}

img#lamophone_logo {
    max-height: 120px;
    max-width: 60%;
}

img#nature_logo {
    max-height: 120px;
    max-width: 80%;
}

.product_logos {
    text-align: center;
}

/* Team. */
.team_rows {
    margin-top: 30px;
    margin-bottom: 30px;
}

.profile_title_text {
    font-size: 0.9em;
    font-style: italic;
}

img#profile_image {
    max-height: 120px;
    max-width: 80%;
    border-radius: 50%;
}

/* Footer. */
.footer_row {
    margin-top: 50px;
}
